/*
.page-masthead .container { width: 100% !important; }
*/

h5, .h5 {
    font-size: 15px;
}

.page-masthead .row-feature { padding: 0px 0px 10px 0px; }

.slideshow {
  padding: 20px 0px !important;
}

article img {
  border-radius: 10px;
}

.img-rounded {
  border-radius: 10px;
}

.t3-sl {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 20px;
    padding-top: 40px;
  }
}

.article-title {
  font-size: 25px;
  margin: 20px 0 20px 0;
}

article p {
  text-align: justify;
}

.logo-image {
  margin-top: 2px;
}

.social-fb {
  color: #3B5998;
}

.social-yt {
  color: #e52d27;
}

.headnews-text {
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.headnews-text h1 {
  color: #ffffff;
}

.hml-slider {
  position: relative;
  margin: 0 auto;
  margin-top: -55px;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.home-head-text {
  font-family: 'Orbitron', sans-serif;
  /*font-family: 'Oswald', sans-serif;*/
  font-size: 80px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.home-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.go-box {
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10px;
}

.go-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
}

.img-responsive {
  margin: 0 auto;
}

.top-space-medium {
  margin-top: 50px;
}

#hml-buttons {
  margin-top: -50px;
}

/*
.page-masthead { 
  margin-top: -55px; 
}
*/


/*
.navbar-default { 
  opacity: 0.8; 
}
*/
